.landing_page
    .container
        .upload_view(ng-show="DataFactory.data && DataFactory.data.length == 0")
            uploader(storage="DataFactory.data")
        .data_view(ng-show="DataFactory.data && DataFactory.data.length > 0")
            calendar(source="DataFactory.parsedData", selected="DataFactory.selectedDate", is-utc="isUtc")
            date-details(source="DataFactory.selectedDate")