.landing_page
  .upload_view
    margin: 200px auto 0 auto;
    width: 300px
  .data_view
    .calendar
      display inline-block
      max-width 600px
      border-right 1px solid #DDD
      vertical-align top
    .date_details
      display inline-block
      vertical-align top
      padding 15px