section.calendar(aria-label="Calendar")
    .years(ng-repeat="y in CalendarFactory.years track by $index")
        h3(ng-bind="$index", aria-label="Year")
        .month(ng-repeat="m in y track by $index")
            h4(ng-bind="$index", aria-label="Month")
        .month(ng-repeat="d in m track by $index")
            span(ng-bind="$index")
