section.calendar(aria-label="Calendar")
    .calendar_years(ng-repeat="(year, monthList) in CalendarFactory.years track by $index")
        h3(ng-bind="year", aria-label="Year")
        .calendar_months(ng-repeat="(month, daysList) in monthList track by $index")
            h4(ng-bind="getMonthName(month)", aria-label="Month")
            span.calendar_days
                span.calendar_day(ng-repeat="(day, day_info) in daysList track by $index", ng-bind="day")


