section.calendar(aria-label="Calendar")
    .calendar_nav
        button.btn.btn-default(type="button", aria-label="Go prev month")
            i.fa.fa-back
        button.btn.btn-default(type="button", aria-label="Go next month")
            i.fa.fa-forward
    .calendar_dates