.calendar
  .calendar_years
    .calendar_months
      .calendar_days
        .calendar_day_btn
          display inline-block
          font-size 1em
          padding 0
          border-radius 2px
          margin 3px
          min-width 60px
          min-height 70px
          text-align center
          .calendar_day
            padding 21px
          .extended_calendar_day
            .day_num_container
              .day_num
                font-weight bold
                padding 22px 0
            .total_days_dues
              border-bottom 1px solid #FFF
              font-size 0.8em
            .total_days_amount
              font-size 0.8em
              height 50%
              border-top 1px solid #FFF