section.calendar(aria-label="Calendar")
    .calendar_years(ng-repeat="(year, monthList) in CalendarFactory.years track by $index")
        h3(ng-bind="year", aria-label="Year")
        .calendar_months(ng-repeat="(month, daysList) in monthList track by $index")
            h4(ng-bind="getMonthName(month)", aria-label="Month")
            span.calendar_days
                button.btn.calendar_day_btn(type="button", ng-repeat="(day, day_info) in daysList track by $index", ng-class="{'btn-primary': !!day_info.events.length, 'btn-default': !day_info.events}")
                    .calendar_day(ng-hide!="day_info.events.length > 0")
                        span(ng-bind="day")
                    .extended_calendar_day(ng-show!="day_info.events.length > 0")
                        .total_days_dues(ng-bind="day_info.events.length")
                        .day_num_container
                            span.day_num(ng-bind="day")
                        .total_days_amount(ng-bind="getTotalForDay(day_info.events, DAY_EVENT_FIELDS.AMOUNT)")